* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2 {
    color: #444;
  }
  
  h3 {
    color: #999;
  }
  
  .btn {
    color: #67acb4;
    padding: 3px 8px;
    border: 2px solid #67acb4;
    background: #67acb4;
    color: white;
    padding: 10px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    width: 130px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn:hover {
    color: #67acb4;
    background: white;
    border: 2px solid #67acb4;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 5px;
    border-bottom: 2px solid #999;
  }
  
  table {
    padding: 10px;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }

  
  .container {
    height: 100vh;
    background: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .container .header {
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .container .header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
