* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2 {
    color: #444;
  }
  
  h3 {
    color: #999;
  }
  
  .btn {
    color: #67acb4;
    padding: 3px 8px;
    border: 2px solid #67acb4;
    background: #67acb4;
    color: white;
    padding: 10px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    width: 130px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  