
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  body {
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2 {
    color: #444;
  }
  
  h3 {
    color: #999;
  }
  
  .btn {
    color: #67acb4;
    padding: 3px 8px;
    border: 2px solid #67acb4;
    background: #67acb4;
    color: white;
    padding: 10px 10px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 24px;
    width: 130px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn:hover {
    color: #67acb4;
    background: white;
    border: 2px solid #67acb4;
  }
  
  table {
    padding: 10px;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  .container {
    height: 100vh;
    background: #f1f1f1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  
  .container .header {
    height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .container .header .nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .header .nav h1 {
    text-shadow: 2px 2px  rgba(0, 0, 0, 0.2);

  }
  
  .container .content {
    position: relative;
    padding: 1rem 2rem;
    margin-top: 3rem;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .container .content .cards {
    padding: 30px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .container .content .cards .card {
    width: 230px;
    height: 150px;
    background: white;
    margin: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
  }
  
  .container .content .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 15px;
  }
  
  .container .content .content-2 .recent-payments {
    min-height: 30vh;
    background: white;
    min-width:fit-content;

    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }

    .container .content .content-2 .new-products {
    background: white;
    min-height: 30vh;
    min-width: 60%;
    margin: 0 25px 25px 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
  }

.title{
    margin-top: 2rem;
    padding: 0 15px;
}

  .container .content .content-2 .new-products table td:nth-child(1) img {
    height: 40px;
    width: 40px;
  }
  
  #productsDiv,
  #couponsDiv,
  #adsDiv,
  #chatDiv {
    display: none;
  }
  @media screen and (max-width: 1050px) {
    .side-menu li {
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 940px) {
    .side-menu li span {
      display: none;
    }
    .side-menu {
      align-items: center;
    }
    .side-menu li img {
      width: 40px;
      height: 40px;
    }
  }
  
  @media screen and (max-width: 536px) {
    .btn {
        color: #67acb4;
        border: 2px solid #67acb4;
        background: #67acb4;
        color: white;
        padding: 5px 5px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 25px;
    }
    .brand-name h1 {
      font-size: 16px;
      justify-content: center;
    }
    .container .content .cards {
      justify-content: center;
    }
    .side-menu li img {
      width: 30px;
      height: 30px;
    }
    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
      display: none;
    }
  }
  
  .container .content .cards-ch {
    padding: 10px 10px;
    margin: 45px;
    min-height: 10%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background: white;
    background-size: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
  }